/*
.sub-header__icon {
	fill: red;
	color: yellow;
	height: 3rem;
	width: 3rem;
	background-color: black;

}



.user-nav {
	display: flex;
	justify-content: space-between;
	padding: .753rem;

	&__user-photo {
		width: 4.6rem;
		height: 4rem;
		padding-left: .5rem;
		cursor: pointer;
	}

	&__search {
		flex: 0 0 19%;
		display: flex;
		align-items: center;
		justify-content: center;


		&__input {
			font-family: inherit;
			font-size: inherit;
			color: inherit;
			background-color: var(--color-form-light);
			border: none;
			color: inherit;
			padding: 1.4rem 2rem;
			border-radius: 100px;
			width: 93%;
			transition: all .2s;
			// margin-right: -3.25rem;
		}

		&__button {
			border: none;
			background-color: #393939;
			fill: red;
		}

		&__icon {
			height: 2rem;
			width: 2rem;
			fill: #dc00009d;
		}

	}
}

.content {
	display: flex;
}



*/

///
/// 

.container {
	height: 90.435vh;
	overflow: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;

	// scroll-behavior: smooth;
	&-sub {
		display: flex;
		justify-content: space-between;

	}
}

.container::-webkit-scrollbar {
	// display: none;
	// background-color: var(--color-dark-light-form-2);
	// padding: -17px;
	width: .9rem;


	&-track {
		background: transparent;
		// border-radius: 1rem;
		// width: 1.5rem;

		&:hover {
			background: var(--color-dark-light);

		}
	}

	&-thumb {
		background: var(--color-dark-light-form-2);
		// border-radius: 1rem;

		// &:hover {
		// background: green;
		// }
	}

}

.left-side {
	background-color: transparent;
	width: 22vw;
	overflow: auto;
	// overflow: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	left: 0;
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 60px);



	&-data {
		margin-top: 1.753rem;
		display: flex;
		// width: 19.5vw;
		flex-direction: column;
		align-items: left;
		flex-wrap: nowrap;
		padding: .5rem;

	}

	&-nav {
		display: flex;
		width: 19vw;

		&__icon {
			height: 3rem;
			width: 3rem;
			// background: var(--color-dark-light-form);
			// border-radius: 5rem;
			border-radius: 50%;
			padding: .35rem;
			fill: var(--color-svg);

			&-box {
				position: relative;
				margin: .5rem;

			}

			&:hover {
				background: var(--color-dark-light-form-2);
				border-radius: 50%;
			}

			&:hover::before {
				outline: none;
				// transition: all .2s;
				// transform: translateY(2px);
				// background: #494a4b;
				// width: 100%;
			}
		}
	}

	&-input {

		// padding: 0.2rem .1rem;

		&-2 {
			background: transparent;
			// border-radius: 1rem;
			color: var(--color-text);
			display: flex;
			align-items: center;
			height: 7vh;
			width: 19.5vw;

		}

		&-data {
			// font-size: 1.453rem;
			font-size: $font-default;
			font-weight: 600;
		}

		&:hover {
			transition: all .1s;
			background: var(--color-dark-light-form-2);
			fill: var(--color-dark-light);
			border-radius: .653rem;
		}
	}


}

.left-side::-webkit-scrollbar {
	width: .7rem;

	&-track {
		background: transparent;
		border-radius: 1rem;

		&:hover {
			background: var(--color-dark-light);
		}
	}

	&-thumb {
		background: var(--color-dark-light-form-2);
		border-radius: 1rem;
	}

}

.right-side::-webkit-scrollbar {
	padding: 17px;
	width: .7rem;

	&-track {
		background: transparent;
		border-radius: 1rem;

		&:hover {
			background: var(--color-dark-light);

		}
	}

	&-thumb {
		background: var(--color-dark-light-form-2);
		border-radius: 1rem;

	}

}

.right-side {
	background-color: transparent;
	width: 22vw;
	overflow: auto;
	// overflow: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	right: 0;
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 60px);


}

.h1 {
	color: var(--color-text);
	font-size: $font-sub-heading;
	text-align: left;
	width: 19vw;
	line-height: 2.5rem;

	&-1 {
		margin: 0 0 -2rem 1rem;

	}
}

hr {
	width: 90%;
	// height: 1px;
	// background: var(--color-dark-light-form-2);
	margin: 1.5rem 0;
	border: 1px solid var(--color-dark-light-form-2);

}

.mid {
	// padding: 0 1rem;
	overflow: hidden;
	position: relative;
	// margin: 0rem 7rem;
	max-width: 44vw;
	padding: 1rem 0;

	&-1 {
		// max-width: 52vw;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		padding: 1rem 0;

	}

	div :nth-child(1) {
		background-image: linear-gradient(#1f2581, #5E7FA7);
	}

	div :nth-child(2) {
		background-image: linear-gradient(#000153, #5b2d8a);
	}

	div :nth-child(3) {
		background-image: linear-gradient(#fff, #4E3631);
	}

	&-2 {
// padding: 0 1rem;
		overflow: hidden;
		border-radius: 1rem;
		width: 15rem;
		height: 25rem;

		// img {
		// width: 30vw;
		// }
		.imag {
			border-radius: 1rem;
			// cursor: pointer;
			background: var(--color-white);
			// animation: ImageAnim 2s;
			// transition: all 2s;
			// flex-shrink: 0;
			height: 25rem;
			// height: 22.4rem;
			width: 15rem;
			// width: 12rem;
			margin: auto;
			transform: scale(.7);


			&:hover {
				transform: scale(0.715);
				transition: all .2s;
				box-shadow: 0px 0px 150px -15px #0000005d;
			}

			&:nth-child(2) {
				height: 10rem;
				width: 10rem;
			}
		}
	}


}